.search input {
  height: 5vh;
  font-size: 16px;
  width: 500px;
  border-radius: 10px;
  border: 2px solid white;
  padding: 5px 10px;
  margin: 0 280px;
}

@media (max-width: 1024px) {
  .search input {
    width: 350px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .search input {
    width: 100%;
    font-size: 14px;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .search input {
    width: 100%;
    height: 40px;
    font-size: 13px;
  }
}